extends layouts/main/layout.pug
  
block title
    title BeatingCloud: home
block content
    if !user
        div(class="m-10 lg:m-40")
            h2(class="text-xl leading-normal mb-2 font-bold text-white") que es BeatingCloud?
            p(class="text-white leading-relaxed font-light text-xl mx-auto pb-2")
                | Es una plataforma de música en streaming que acerca a los fans a sus artistas preferidos con experiencias únicas y la mejor calidad de sonido..  
        
        div(class="container max-w-screen-lg mx-auto py-10")
            div(class="grid grid-cols-1 gap-6 md:grid-cols-2 lg:grid-cols-3 text-center")
                div(class="flex drop-shadow-xl justify-center p-6 text-xl bg-gray-100 border-2 border-gray-300 rounded-xl fadeInUp transform transition duration-300 ease-in-out hover:-translate-y-2" data-wow-duration="1s" style="visibility: visible; animation-duration: 1s; animation-name: fadeInUp;")
                    div(class="py-8 px-12 bg-gray-50 border-b border-gray-100 transform transition duration-300 ease-in-out hover:-translate-y-2")
                        div(class="inline-block text-gray-900 mb-4")
                            img(class="h-14", src="/assets/book.svg", alt="Workflow")
                        h3(class="text-2xl leading-normal mb-2 font-semibold text-black") Playlist
                        p(class="text-gray-500") Crea y guarda múltiples listas de reproducción, canciones y mucho más.
                div(class="flex drop-shadow-xl justify-center p-6 text-xl bg-gray-100 border-2 border-gray-300 rounded-xl fadeInUp transform transition duration-300 ease-in-out hover:-translate-y-2" data-wow-duration="1s" style="visibility: visible; animation-duration: 1s; animation-name: fadeInUp;")
                    div(class="py-8 px-12 bg-gray-50 border-b border-gray-100 transform transition duration-300 ease-in-out hover:-translate-y-2")
                        div(class="inline-block text-gray-900 mb-4")
                            img(class="h-14", src="/assets/music-player.svg", alt="Workflow")
                        h3(class="text-2xl leading-normal mb-2 font-semibold text-black") Stream
                        p(class="text-gray-500") Obtenga acceso a millones de música local e internacional.
                div(class="flex drop-shadow-xl justify-center p-6 text-xl bg-gray-100 border-2 border-gray-300 rounded-xl fadeInUp transform transition duration-300 ease-in-out hover:-translate-y-2" data-wow-duration="1s" style="visibility: visible; animation-duration: 1s; animation-name: fadeInUp;")
                    div(class="py-8 px-12 bg-gray-50 border-b border-gray-100 transform transition duration-300 ease-in-out hover:-translate-y-2")
                        div(class="inline-block text-gray-900 mb-4")
                            img(class="h-14", src="/assets/search-engine.svg", alt="Workflow")
                        h3(class="text-2xl leading-normal mb-2 font-semibold text-black") Encuentra tu contenido favorito.
                        p(class="text-gray-500") Busque millones de canciones por título, artista o nombre de álbum y reproduzca su canción al instante.
    else
        div(class="full-container")
            button(
            id="showModal",
            onclick='swal("Hello world!")') disparar modal
            p content sistem
        script
            include ../static/js/sweetalert2.js
        script
            include ../static/js/playlist.js
    include ./components/footer.pug
    script
        include ../static/js/twelements.js