extends layouts/main/layout.pug

block title
    title Playlist app: home

block content
    div(class="m-40")
        h2(class="text-xl leading-normal mb-2 font-bold text-black") que es Playlist?
        p(class="text-gray-500 leading-relaxed font-light text-xl mx-auto pb-2")
            | Es una plataforma de música en streaming que acerca a los fans a sus artistas preferidos con experiencias únicas y la mejor calidad de sonido..  

    div(class="flex flex-wrap flex-row -mx-4 text-center")
        div(class="flex-shrink px-4 max-w-full w-full sm:w-1/2 lg:w-1/3 lg:px-6 wow fadeInUp" data-wow-duration="1s" style="visibility: visible; animation-duration: 1s; animation-name: fadeInUp;")
            div(class="py-8 px-12 mb-12 bg-gray-50 border-b border-gray-100 transform transition duration-300 ease-in-out hover:-translate-y-2")
                div(class="inline-block text-gray-900 mb-4")
                    img(class="h-12", src="/assets/social.svg", alt="Workflow")
                h3(class="text-lg leading-normal mb-2 font-semibold text-black") Acercate a la comunidad
                p(class="text-gray-500") This is a wider card with supporting text below as a natural content.
        div(class="flex-shrink px-4 max-w-full w-full sm:w-1/2 lg:w-1/3 lg:px-6 wow fadeInUp" data-wow-duration="1s" style="visibility: visible; animation-duration: 1s; animation-name: fadeInUp;")
            div(class="py-8 px-12 mb-12 bg-gray-50 border-b border-gray-100 transform transition duration-300 ease-in-out hover:-translate-y-2")
                div(class="inline-block text-gray-900 mb-4")
                    img(class="h-12", src="/assets/search.svg", alt="Workflow")
                h3(class="text-lg leading-normal mb-2 font-semibold text-black") Encontra tu musica preferida
                p(class="text-gray-500") This is a wider card with supporting text below as a natural content.
        div(class="flex-shrink px-4 max-w-full w-full sm:w-1/2 lg:w-1/3 lg:px-6 wow fadeInUp" data-wow-duration="1s" style="visibility: visible; animation-duration: 1s; animation-name: fadeInUp;")
            div(class="py-8 px-12 mb-12 bg-gray-50 border-b border-gray-100 transform transition duration-300 ease-in-out hover:-translate-y-2")
                div(class="inline-block text-gray-900 mb-4")
                    img(class="h-12", src="/assets/checklist.svg", alt="Workflow")
                h3(class="text-lg leading-normal mb-2 font-semibold text-black") comparti tu contenido
                p(class="text-gray-500") This is a wider card with supporting text below as a natural content.
            