extends layouts/main/layout.pug
  
block title 
    title Playlists

block content
    div(class="full-container h-screen text-left")
        header.bg-white.shadow
            .py-6.px-4(class='sm:px-6 lg:px-8')
                h1.text-3xl.font-bold.text-gray-900 Playlists
        main
            .py-6.my-6(class='grid grid-cols-1 md:grid-cols-[400px_minmax(800px,_1fr)_0] gap-4')
                div(class=" p-8 m-8 bg-white rounded-lg")
                    section.border-purple-200.rounded-lg.h-96.border-4.border-dashed(class="p-8 bg-white")
                        //- Content-Type: x-www-form-urlencoded
                        form(action="/playlists", method="post")
                            input(type="text", name="name", value=playlist ? playlist.name : null)
                            button Crear playlist
                div(class=" p-8 m-8 bg-white rounded-lg")
                    section.border-purple-200.rounded-lg.h-96.border-4.border-dashed(class=" p-8 bg-white")
                        //- Content-Type: x-www-form-urlencoded
                        form(action="/playlists", method="post")
                            input(type="text", name="name", value=playlist ? playlist.name : null)
                            button Crear playlist

            if error
                p(class="bg-red-300 text-red-900 p-3 w-max") #{error}

            each playlist in playlists 
                p #{playlist.name}
    script
        include ../static/js/playlist.js